body {
	background-color: #0A192F;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

hr {
	width: 25%;
}


a:link, a:visited {
	color: skyblue;	
}

.main-title {
	text-align: center;
	font-size: 200%;
	/*color: white;*/
	color: #CCD6F6;
}

.project-group {
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1300px){
  .project-group {
    width: 95%;
  }
}

.project-group-title {
	/*color: white;*/
	color: #CCD6F6;
}

.project {
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: #262626;*/
	background-color: #172A45;
}

.project-title h3 {
	margin-top: 0;
	font-size: 150%;
	/*color: white;*/
	color: #64FFDA;
}

.project-shortdesc {	
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	/*color: white;*/
	color: #A8B2D1;	
}

.project-longdesc {
	width: 95%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	color: #A8B2D1;
}

.tech-stack-list {		
	display: block;	
	text-align: center;
	list-style: none;		
	color: #64FFDA;
	/*color: white;*/
	/*color: #CCD6F6;*/	
}

 .tech-stack-list li {
 	display: inline-block;
 	margin-top: 8px; 		
	margin-left: 8px;
	margin-right: 8px;
	padding: 6px 6px;
	font-weight: bold;
	border: 1px solid #CCD6F6;
}

.project-longdesc .tech {
	text-align: center;
	color: white;
}

.project-photo {
	max-width: 128px;
	max-height: 226px;
	margin-left: 5px;
	border-radius: 5px;
}

.googleplaylogo {
	max-width: 160px;
	max-height: 80px;
}