body {
    background-color: rgb(17 24 39);
    color: rgb(213, 220, 230);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ALL SECTION */
section {
    min-height: 100vh;
}

.section-title {
    color: white;
    font-size: 5vw;    
    text-align: center;
}

/* HOME SECTION */

#home {    
    display: flex;
    flex-direction: column;    
    justify-content: center;
    margin: auto;    
    width: 50%;
}

#prefix {
    color: #64FFDA;
    font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace;
    font-size: 0.8vw;
    text-align: left;
}

#name {    
    color: white;    
    font-size: 4vw;
    font-weight: bold;
    text-align: left;
}

#aboutme {   
    font-size: 0.8vw;    
    text-align: left;     
}

/* SKILLS SECTION */

#skills-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;    
}

.skill-card {     
    background-color: rgb(26, 34, 53);     
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.skill-card-title { 
    color: white;
    font-weight: bold;    
    margin: 0;
}

.skill-card-desc {
    margin: 0;
}

/* PROJECTS SECTION */



.project-card {
    border: 1px solid white;

}

.project-card-img {
    
}


/* MEDIA */

@media screen and (max-width: 600px) {
    
}